.navbar {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #f2f2f2;
  background-color: #ff4fb2;
}

.navbar a {
  text-decoration: none;
  padding: 6px;
  color: #b9dbf4;
  list-style: none;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-items li {
  list-style: none;
}
